//! **************************************************************************
// Written by: Map P.68d on Tue Jul 06 14:48:16 2021
//! **************************************************************************

SCHEMATIC START;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

